main path {
  stroke-width: 2;
  stroke: gray;
}
#hbar {
  -webkit-appearance: none;
  appearance: none;
  height: 2rem;
  border-radius: 20px;
  border-width: 3px;
  background-color: red;
  border-color: gray;
  width: 100%;
}
::-webkit-progress-value {
  background-color: red;
  border-radius: 20px;
}
::-webkit-progress-bar {
  border-radius: 20px;
}
.pinme {
  height: fit-content;
}
svg {
  position: fixed;
  display: none;
}
.stephen-alive {
  position: absolute;
  left: 200px;
  top: 320px;
  filter: drop-shadow(4px 4px 3px rgba(100, 100, 111, 0.7));
}

.stephen-dead {
  position: absolute;
  left: 10px;
  top: 500px;
  filter: drop-shadow(4px 4px 3px rgba(100, 100, 111, 0.7));
}
#rocks > img {
  position: absolute;
  filter: drop-shadow(4px 4px 3px rgba(100, 100, 111, 0.2));
}
