.center-acts {
  display: block;
  margin-left: 20%;
  margin-right: 30%;
  margin-top: 20%;
}

.paularrest {
  display: block;
  margin-left: 30%;
  margin-right: 70%;
  margin-top: 3%;
  height: 500px;
}

.scroll {
  margin-top: 200%;
}

.words1 {
  margin-left: 50%;
  margin-right: 5%;
  margin-top: -15%;
}

.words2 {
  margin-left: 50%;
  margin-right: 5%;
  margin-top: 10%;
}
