.center-acts {
  display: block;
  margin-left: 20%;
  margin-right: 30%;
  margin-top: 20%;
}

.paul {
  display: block;
  margin-left: 30%;
  margin-right: 70%;
  margin-top: -32%;
  height: 500px;
}

.paularrested {
  display: block;
  margin-left: 30%;
  margin-right: 70%;
  margin-top: 10%;
  height: 500px;
  opacity: 0;
}

.pauljail {
  display: block;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: -20%;
  height: 300px;
}

.jail {
  display: block;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 55%;
  height: 900px;
  width: 1400px;
}

.scroll {
  margin-top: 200%;
}

.words1 {
  margin-left: 50%;
  margin-right: 5%;
  margin-top: -15%;
}

.words2 {
  margin-left: 50%;
  margin-right: 5%;
  margin-top: 10%;
}
