.disciples {
  position: absolute;
  right: 190px;
  height: 850px;
  top: 405px;
}

.jesus {
  position: absolute;
  left: -40px;
  height: 400px;
  top: 500px;
}

.jesusgradient {
  position: absolute;
  right: 525px;
  height: 400px;
  top: 275px;
}

.ascension {
  position: absolute;
  right: 400px;
  height: 400px;
  width: 700px;
  top: 400px;
}

.return {
  position: absolute;
  right: 550px;
  height: 400px;
  width: 700px;
  top: 350px;
}

.now {
  position: absolute;
  right: 575px;
  height: 400px;
  width: 700px;
  top: 350px;
}

.lies {
  position: absolute;
  right: 575px;
  height: 400px;
  width: 700px;
  top: 2750px;
}

.dies {
  position: absolute;
  left: -600px;
  height: 400px;
  width: 700px;
  top: 2750px;
}

.angel1 {
  position: absolute;
  width: 350px;
  top: 250px;
  right: 200px;
  transform: rotate(-25deg);
}

.angel2 {
  position: absolute;
  width: 350px;
  top: 250px;
  left: -200px;
  transform: rotate(25deg);
}

.priest {
  position: absolute;
  right: 160px;
  width: 1500px;
  top: 1200px;
}

.priest2 {
  position: absolute;
  right: -250px;
  width: 1500px;
  top: 2600px;
}

.annanias {
  position: absolute;
  left: 50px;
  width: 350px;
  top: 2950px;
}

.wife {
  position: absolute;
  left: 300px;
  width: 350px;
  top: 3000px;
}

.money {
  position: absolute;
  left: -90px;
  width: 250px;
  top: 3200px;
}

.matthias {
  position: absolute;
  left: -400px;
  height: 500px;
  top: 1500px;
}

.paul {
  position: absolute;
  right: 100px;
  height: 500px;
  top: 2800px;
}

.lameman {
  position: absolute;
  left: 100px;
  height: 500px;
  top: 2800px;
}

.lots {
  position: absolute;
  right: 575px;
  height: 400px;
  width: 700px;
  top: 1350px;
}

.matthiasgradient {
  position: absolute;
  right: -159px;
  height: 400px;
  top: 1325px;
}

#quiz {
  top: 145%;
}

.spacing {
  height: 20%;
  position: absolute;
}

.center-acts {
  display: block;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20%;
}

.scroll {
  margin-top: 400%;
}
