main path {
  stroke-width: 2;
  stroke: gray;
}
#hbar {
  -webkit-appearance: none;
  appearance: none;
  height: 2rem;
  border-radius: 20px;
  border-width: 3px;
  background-color: red;
  border-color: gray;
  width: 100%;
}
::-webkit-progress-value {
  background-color: red;
  border-radius: 20px;
}
::-webkit-progress-bar {
  border-radius: 20px;
}
.pinme {
  /* padding-top: 10px; */
  height: fit-content;
}
svg {
  position: fixed;
  display: hidden;
}
